#pagetop {
    font-size: 32px;
    font-family: sans-serif;
    text-align: center;
}

form {
font-family: sans-serif;
padding: 12px;
}

#takeawayData {
  display: flex;
  padding: 5%;
  space-around: 5%;
  justify-content: center;
  list-style-type: none;
}

#takeawaypagetop {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
