#pagetop {
    font-size: 32px;
    font-family: sans-serif;
    text-align: center;
}

form {
font-family: sans-serif;
padding: 12px;
}

#takeawayData {
  display: flex;
  padding: 4%;
  justify-content: center;
  list-style-type: none;
  background-color: lightblue;
  border: 2px solid dodgerblue;
}

.takeaways {
  margin: 5% 10%;
  border: 2px solid dodgerblue;
  padding: 6%;
  shape-margin: 4px;
}

#takeawaypagetop {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

p {
  font-size: 16px;
}
